.box {
  width: 50px;
  height: 50px;
  margin: 1rem;
}

.row {
  display: flex;
}

.color100 {
  background-color: $primary100;
}

.color200 {
  background-color: $primary200;
}

.color300 {
  background-color: $primary300;
}

.color400 {
  background-color: $primary400;
}

.color500 {
  background-color: $primary500;
}

.color600 {
  background-color: $primary600;
}

.color700 {
  background-color: $primary700;
}

.color800 {
  background-color: $primary800;
}

.color900 {
  background-color: $primary900;
}

.accent100 {
  background-color: $accent100;
}

.accent200 {
  background-color: $accent200;
}

.accent300 {
  background-color: $accent300;
}

.accent400 {
  background-color: $accent400;
}

.accent500 {
  background-color: $accent500;
}

.accent600 {
  background-color: $accent600;
}

.accent700 {
  background-color: $accent700;
}

.accent800 {
  background-color: $accent800;
}

.accent900 {
  background-color: $accent900;
}

.gray100 {
  background-color: $gray100;
}
.gray200 {
  background-color: $gray200;
}
.gray300 {
  background-color: $gray300;
}
.gray400 {
  background-color: $gray400;
}
.gray500 {
  background-color: $gray500;
}
.gray600 {
  background-color: $gray600;
}
.gray700 {
  background-color: $gray700;
}
.gray800 {
  background-color: $gray800;
}
.gray900 {
  background-color: $gray900;
}
